/*-- scss:defaults --*/

// color palette
$red: #880D1E;
$orange: #E07A5F;
$yellow: #F5F2B8;
$cream: #f8f7d6;
$green: #C5DCA0;
$blue: #58A4B0;

// Base document colors 
$navbar-bg: $red; 
$navbar-fg: $yellow;
$navbar-hl: $green;
$body-bg: $cream;
$body-color: $blue;
$footer-bg: $orange;
$link-color: $orange;

// Inline code 
$code-bg: $red;
$code-color: $green;
