/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Sono:wght@200..800&display=swap');

// Colors
$red: #E5381D;
$orange: #FF9732;
$pink:#EBA0B8;
$yellow: #EFCD65;
$cream: #fbfaed;
$green: #8CA54B;
$blue: #3299C3;
$lblue: #97BED8;
$brown: #523D3B;

// Base document colors 
$navbar-bg: $blue; 
$navbar-fg: $cream; // navbar background color
$navbar-hl: $yellow; // navbar foreground color
$body-bg: $cream; // page background 
$body-color: $brown; // page text color
$footer-bg: $blue; // footer background
$footer-color: $cream; //footer text
$link-color: $pink; // hyperlinks 

// Inline code 
$code-bg: $cream;
$code-color: $green;
