/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Sono:wght@200..800&display=swap');

// Colors
$red: #E5381D;
$orange: #FF9732;
$pink:#EBA0B8;
$yellow: #EFCD65;
$cream: #fbfaed;
$green: #8CA54B;
$blue: #3299C3;
$lblue: #97BED8;
$brown: #523D3B;

// Base document colors 
$navbar-bg: $blue; 
$navbar-fg: $cream; // navbar background color
$navbar-hl: $yellow; // navbar foreground color
$body-bg: $cream; // page background 
$body-color: $brown; // page text color
$footer-bg: $pink; // footer background
$footer-color: $cream; //footer text
$link-color: $red; // hyperlinks 

// Inline code 
$code-bg: $cream;
$code-color: $green;

/*--scss:rules--*/
h1, h2 {
  letter-spacing: 3px;
  font-weight: 500;
}

.title{
  color: $green;
}

.column{
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 0.5rem;
}

.center-columns {
  display: flex;
  justify-content: center;   /* centers horizontally */
  flex-wrap: wrap;           /* allows wrapping if too wide */
  gap: 2rem;                 /* optional spacing between columns */
  text-align: center;        /* optional: centers text/images inside */
}

/* Individual columns */
.center-columns .column {
  flex: 1 1 300px; /* grow, shrink, base width */
  max-width: 300px;
}