/*-- scss:defaults --*/

// Colors
$red: #880D1E;
$orange: #E07A5F;
$yellow: #F5F2B8;
$cream: #f8f7d6;
$green: #C5DCA0;
$blue: #58A4B0;

// Base document colors 
$navbar-bg: $red; 
$navbar-fg: $yellow; // navbar background color
$navbar-hl: $green; // navbar foreground color
$body-bg: $cream; // page background 
$body-color: $blue; // page text color
$footer-bg: $orange; // footer background
$link-color: $orange; // hyperlinks 

// Inline code 
$code-bg: $cream;
$code-color: $green;
